.G {
	font-size: 1.125rem;
	line-height: 24pt;
	color: #009900;
	text-align: center;
	font-family: "新細明體";
}
.B {
  font-size: 1.125rem;
  line-height: 24pt;
  color: #0000ff;
  text-align: center;
  font-family: "新細明體";
}
.Y {
  font-size: 1.125rem;
  line-height: 24pt;
  color: #ff9900;
  text-align: center;
  font-family: "新細明體";
}
.R {
  font-size: 1.125rem;
  line-height: 24pt;
  color: #ff0000;
  text-align: center;
  font-family: "新細明體";
}
.BL {
  font-size: 1.125rem;
  line-height: 24pt;
  color: #000000;
  text-align: center;
  font-family: "新細明體";
}
body {
  font-size: 1.125rem ;
	line-height: 24pt;
	font-family: "微軟正黑體","標楷體";
  color: #008000;
  background-color: #EDF9EC;
}
h1 {
	font-size: 1.7rem;
	color: #FF6633;
  font-weight: bold;
	text-shadow: 0.2em 0.2em 0.1em #CCC;
}
h2 {
  font-size: 1.4rem;
  font-weight: bold;
  color: #FF6633;
}
a{
  font-size: 1.2rem;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-family: DFKai-sb;
  color: #FFFFFF;
  background-color: #006600;
}
.header a:link {color:#FFFFFF; text-decoration:none;}
.header a:visited {color:#FFFFFF; text-decoration:none;} 
.header a:hover {color:#00FF00; text-decoration:none;} 
.header a:active {color:#FF00FF; text-decoration:underline;}